<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>

<div class="container">


    <div class="row">
        <h2>Perfect Pizza</h2>
        <table class="twelve columns box totals">
            <tr>
                <td>Small total</td>
                <td>qty<span>{{counterSmall}}</span></td>
                <td>R<span class="smallPizzaPrice">{{smallCost}}</span></td>
            </tr>
            <tr>
                <td>Medium total</td>
                <td>qty<span>{{counterMedium}}</span></td>
                <td>R<span class="mediumPizzaPrice">{{mediumCost}}</span></td>
            </tr>
            <tr>
                <td>Large total</td>
                <td>qty<span>{{counterLarge}}</span></td>
                <td>R<span class="largePizzaPrice">{{largeCost}}</span></td>
            </tr>
            <tr>
                <td>Grand Total</td>
                <td><span></span></td>
                <td> R<span class="grandTotal">{{grandTotal}}</span></td>
            </tr>
            <tr>
                <td><button class="button" type="submit" name="order" value="order">ORDER</button></td>
            </tr>
        </table>

    </div>
    <div class="row">
    {{!-- Start here --}}
    <div class="four columns box small--bgr">
    <form action="/buySmall" method="POST">
    <img src="images/pizza.jpeg"alt="">
        <h2>Small Pizza</h2>
        <label>R31.99</label>
        <p>Small pizza with 3 toppings</p>
        <div>
            1 meat topping.
            3 or less other toppings.
        </div>
        <button class="button smallPizzaOrdered" type="submit" name="small" value="small">BUY</button>
    </form>
    </div>

    <div class="four columns box med--bgr ">
    <form action="/buyMedium" method="POST" class="medium">
    <img src="images/pizza.jpeg"alt="">
    <h2>Medium Pizza</h2>
        <label>R58.99</label>
        <p>Medium pizza with 3 toppings</p>
        <div>
            medium margeritha pizza with 3 toppings max.
            2 or less meat topping.
            3 or less other toppings.
          </div>
        <button class="button mediumPizzaOrdered" type="submit" name="medium" value="medium">BUY</button>
    </form>
    </div>

    <div class="four columns box lg--bgr">
    <form action="/buyLarge" method="POST" class="large">
    <img src="images/pizza.jpeg"alt="">
        <h2>Large Pizza</h2>
        <label>R87.99</label>
        <p>Small pizza with 3 toppings</p>
        <div>
            large margeritha pizza with 3 toppings max.
            3 meat toppings max.
            3 or less other toppings.
          </div>
        <button class="button largePizzaOrdered" type="submit" name="large" value="large">BUY</button>
    </form>
</div>

<div class="row">
    <form action="/count" method="post">
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form>
</div>
    

    </div>
    </div>
</body>
</html>