<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>

<h1>Counter Index</h1>


<div class="container">


    <div class="row">
        <table class="twelve columns box">
            <tr>
                <td>Small total</td>
                <td>R<span class="smallPizzaPrice">{{smallCostTotal}}</span>0.00</td>
            </tr>
            <tr>
                <td>Medium total</td>
                <td>R<span class="mediumPizzaPrice">{{mediumCostTotal}}</span>0.00</td>
            </tr>
            <tr>
                <td>Large total</td>
                <td>R<span class="largePizzaPrice">{{largeCostTotal}}</span>0.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td> R<span class="grandTotal">{{grandTotal}}</span>0.00</td>
            </tr>
        </table>
        <button class="button" type="submit" name="buy">ORDER</button>

    </div>
    <div class="row">
    {{!-- Start here --}}
    <div class="four columns box small--bgr">
    <form action="/buySmall" method="POST" class="small">
        <h2>Small Pizza</h2>
        <label>R31.99</label>
        <p>Small pizza with 3 toppings</p>
        <ul>
            <li>1 meat topping.</li>
            <li>3 or less other toppings.</li>
        </ul>
        <button class="button smallPizzaOrdered" type="submit" name="buy" value="small">BUY</button>
    </form>
    </div>

    <div class="four columns box med--bgr ">
    <form action="/buyMedium" method="POST" class="medium">
    <h2>Medium Pizza</h2>
        <label>R58.99</label>
        <p>Medium pizza with 3 toppings</p>
        <ul>
            <li>1 meat topping.</li>
            <li>3 or less other toppings.</li>
        </ul>
        <button class="button mediumPizzaOrdered" type="submit" name="buy" value="medium">BUY</button>
    </form>
    </div>

    <div class="four columns box lg--bgr">
    <form action="/buyLarge" method="POST" class="large">
        <h2>Large Pizza</h2>
        <label>R87.99</label>
        <p>Small pizza with 3 toppings</p>
        <ul>
            <li>1 meat topping.</li>
            <li>3 or less other toppings.</li>
        </ul>
        <button class="button largePizzaOrdered" type="submit" name="buy" value="large">BUY</button>
    </form>
</div>



    {{!-- <form action="/count" method="post">
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form> --}}

    </div>
    </div>
</body>
</html>